@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300..700&display=swap');

:root{
    --bg: #faf6f6;
    --bg-main: #ffffff;
    --gray: #d4d3d3;
    --light-gray: #f1efef;
    --dark-gray: #8b8888;
    --radius: 40px;
    --radius-m: 15px;
    --pink: #e61967;
    --dark-pink: #a30844;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
    visibility: hidden;
}

body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: var(--bg-main);
    font-family: "Quicksand", sans-serif;
}

main{
    background-color: var(--bg-main);
    border-radius: var(--radius);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed var(--gray);
    border-radius: var(--radius);
    padding: 2rem;
}

article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,h2{
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    text-align: center;
    color: var(--dark-pink);
}

h1{
    font-size: 2rem;
}

h2{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.grid-botoes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.botoes{
    display: flex;
    flex-direction: column;
}

button{
    font-family: "Quicksand", sans-serif;
}

.negacao{
    transition: left 0.35s cubic-bezier(.17,.89,.32,1.49),
                top 0.35s cubic-bezier(.17,.89,.32,1.49);
}

.voltar{
    text-decoration: none;
    color: var(--dark-gray);
    font-family: "Quicksand";
}

.voltar:hover{
    color: var(--dark-pink);
}

.btn, .btn-escolha{
    padding: 1.5rem 2.5rem;
    background-color: var(--bg);
    border: 2px solid var(--gray);
    border-radius: var(--radius-m);
    cursor: pointer;
    color: var(--dark-pink);
    font-size: 1rem;
    margin: 1rem;
}

.principal{
    background-color: var(--pink);
    border-color: var(--dark-pink);
    color: var(--bg-main);
}

.principal-escolha{
    padding: 1rem;
    background-color: var(--pink);
    border-color: var(--dark-pink);
    color: var(--bg-main);
}

.btn-escolha{
    margin: 0;
}

input[type="datetime-local"]{
    border: 1px solid var(--gray);
    border-radius: var(--radius);
    margin-bottom: 1rem;
    padding: 1.3rem;
    height: 3.5rem;
}

.coracaoImg{
    width: 4rem;
    margin-bottom: 2rem;
}

.conviteDigital p{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-pink);
}

.conviteDigital span{
    color: black;
}

.modal{
    position: absolute;
    right: calc(50% - 180px);; 
    top: calc(50% - 100px);
    background-color: var(--bg-main);
    border-radius: var(--radius);
    padding: 1rem;
    min-width: 5rem;
    min-height: 5rem;
    box-shadow: -4px 7px 15px -6px #000000;
}

.modal > div{
    border-radius: var(--radius);
    /*border: 3px dashed var(--gray);*/
    padding: 2rem;
    position: relative;
}

.modal .header{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--dark-gray);
    padding-bottom: 1rem;
}

.modal .titulo{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--dark-pink);
}

.modal span{
    position: absolute;
    right: 15%;
}

.modal .mensagem{
    margin-top: 1rem;
}

.modal .fechar:hover{
    cursor: pointer;
}

.modal .fechar:before{
    content: 'X';
    color: var(--dark-gray);
    font-family: "Quicksand";
}

.modal .fechar:hover{
    color: var(--dark-pink);
}

footer{
    position: absolute;
    bottom: 10px;
    color: var(--gray);

}

footer a{
    color: var(--gray);
}

footer a:hover{
    color: var(--dark-pink);
}

@media(min-width: 550px){
    body{
        background-color: var(--bg);
    }

    main{
        min-width: 15rem;
    }

    h1,h2{
        margin-bottom: 2rem;
    }

    .botoes{
        flex-direction: row;
    }
    
    .grid-botoes{
        grid-template-columns: repeat(2, 1fr);
    }

    .btn, .btn-escolha{
        padding: 2rem 4rem;
        font-size: 1.3rem;
    }

    h1{font-size: 3rem;}

    h2{font-size: 2.5rem;}

    input[type="datetime-local"]{
        height: 5rem;
        width: 20rem;
    }
}