@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Quicksand:wght@300..700&display=swap');

:root{
    --bg: #faf6f6;
    --bg-main: #ffffff;
    --gray: #d4d3d3;
    --radius: 40px;
    --radius-m: 15px;
    --pink: #e61967;
    --dark-pink: #a30844;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden{
    display: none;
    visibility: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
    background-color: var(--bg);
    font-family: "Quicksand", sans-serif;
}

main{
    background-color: var(--bg-main);
    border-radius: var(--radius);
    padding: 1.5rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px dashed var(--gray);
    border-radius: var(--radius);
    padding: 2rem;
}

h1,h2{
    font-family: "Lobster", sans-serif;
    font-weight: 600;
    text-align: center;
}

h1{
    font-size: 2rem;
}

h2{
    margin-bottom: 3rem;
    font-size: 1.5rem;
}

.grid-botoes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.botoes{
    display: flex;
    flex-direction: column;
}

button{
    font-family: "Quicksand", sans-serif;
}

.btn, .btn-escolha{
    padding: 3rem 6rem;
    background-color: var(--bg);
    border: 2px solid var(--gray);
    border-radius: var(--radius-m);
    cursor: pointer;
    color: var(--dark-pink);
    font-size: 1.6rem;
    margin: 2rem;
}

.principal, .principal-escolha{
    background-color: var(--pink);
    border-color: var(--dark-pink);
    color: var(--bg-main);
}

.principal-escolha{
    padding: 1.5rem;
}

.btn-escolha{
    margin: 0;
    padding: 40px !important;
}

@media(min-width: 768px){
    .grid-botoes{
        grid-template-columns: repeat(2, 1fr);
    }

    h1{font-size: 3rem;}

    h2{font-size: 2.5rem;}
}